*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.form-register{
width: 400px;
padding:30px;
margin:auto;
margin-top: 180px;
border-radius: 4px;


}
.form-register h4 {
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: brown;  
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    /* border: 1px solid ;  */
}

.form-register botons {
width: 100%;
border:none;
padding: 12px;
margin: 10px 0;
line-height: 40px;

}

.form-register p {
    height: 40px;
    text-align: center;
}

.form-register a {
color:brown;
text-decoration: none;

}
.form-register a:hover {
    color:brown;
    text-decoration: underline;
    
    }


.chico{


    display: none;
}
.logo{
    width: 4rem;
    background-color: aliceblue;
    border-radius: 50%;
}
.cabezera{
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    height: 5rem;
    
}
header section{
    display: flex;
    flex-wrap: wrap;
}
.hijo1{
    align-items: center;
    column-gap: 0.5rem;
}

.cabezera, .barra, ul{
    list-style: none;
    display: flex;
    column-gap: 1.5rem;
    padding: 0%;
    margin: 0%;
}
.cabezera, .barra, ul, li{
    padding-right: 0.2rem;
}
.carrucel{
    display: flex;
    height: 500px;
}
.hijo-carrucel{
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width:700px) {
    .hijo2{
        display: none;
    }
    .chico{
        display: flex;
        padding-right: 0.1rem;
    }
    .img-barra{
        width: 2rem;
    }
}
@media screen and (min-width:900px) {
    .carousel{
        height: 500px;
    }
    .carousel-item{
        height: 500px;
        
    }
    .d-block{
        height: 500px;
        object-fit:fill;
    }

    
}
