*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
} 
body{
    background-color: rgb(248, 179, 179);
}
.chico{
    display: none;
}
.logo{
    width: 4rem;
    background-color: aliceblue;
    border-radius: 50%;
}
.cabezera{
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 177, 177);
    height: 5rem;
    
}
a{
    text-decoration: none;
    color: black;
}
header section{
    display: flex;
    flex-wrap: wrap;
}
.hijo1{
    align-items: center;
    column-gap: 0.5rem;
}

.cabezera, .barra, ul{
    list-style: none;
    display: flex;
    column-gap: 1.2rem;
    padding: 0%;
    margin: 0%;
}
.cabezera, .barra, ul, li{
    padding-right: 0.2rem;
}
.articulo1{
    display: flex;
    flex-direction: column;
    background-color: white ;
    text-align: center;
    border: solid rgb(3, 3, 3) 2px;
    margin: 1rem 3rem 1.5rem 3rem;
}
h2{
    padding-top: 1rem;
}
p{
    align-self: center;
    width: 80%;
}
.contenedor-ia1{
    padding-bottom: 1rem;
}
.img-a1{
    max-width: 40%;
}
.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ff8d8d ;
    height: 3rem;
}
a{
    margin: 0 0.6rem 0 0.6rem;
}
.icono{
    width: 2rem;
    
}
.yt{
    margin-bottom: 0.1rem;
}
@media screen and (max-width:700px) {
    .hijo2{
        display: none;
    }
    .chico{
        display: flex;
        padding-right: 0.1rem;
    }
    .img-barra{
        width: 2rem;
    }
    .articulo1{
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

}

