*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
body{
    /* background:url(../Img/fondo-form.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center; */
    /*display: flex; 
    flex-direction: column;
    justify-content: space-between; */
}
.img-barra{
    display: none;
}
.logo{
    width: 4rem;
    background-color: aliceblue;
    border-radius: 50%;
}
.cabezera{
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 179, 179);
    height: 5rem;
    
}
a{
    text-decoration: none;
    color: black;
    margin: 0%;
    padding: 0%;
}
header section{
    display: flex;
    flex-wrap: wrap;
}
.hijo1{
    align-items: center;
    column-gap: 0.5rem;
}

.cabezera, .barra, ul{
    list-style: none;
    display: flex;
    column-gap: 1.2rem;
    padding: 0%;
    margin: 0%;
}
.cabezera, .barra, ul, li{
    padding-right: 0.2rem;    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
}
h1{
    margin: 0;
}
h2{
    background-color: rgb(248, 179, 179);
    padding: 0 2rem 0 2rem;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
.articulo{
    display: flex;
    flex-wrap: wrap;
    border: 0.1rem solid black;
    border-radius: 1%;
    box-shadow: 10rem 0.5rem 0.1rem  rgb(248, 179, 179);
    background: white;
    align-items: center;
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 1%;
}
.articulo2{
    width: 60%;
    margin: 0 0 0 0.5rem;
}
.acompanante{
    width: 32%;
}
.listas{
    display: block;
    list-style:inside;
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ff8d8d ;
    height: 3rem;
}
a{
    margin: 0 0.6rem 0 0.6rem;
}
.icono{
    width: 2rem;
    
}
.yt{
    margin-bottom: 0.1rem;
}
@media screen and (max-width:700px) {
    .hijo2{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        row-gap: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;   
        bottom: 0;
        padding: 2rem 2rem 0 2rem;
        background-color:#ff8d8d ;
        box-shadow: 0 0 0 100vmax rgba( 0, 0, 0, 0.5);
    }
    .hijo2.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: end;
        row-gap: 2rem;
        margin: 0%;
        padding: 0%;
    }
    .img-barra{
        display: flex;
        padding-right: 0.1rem;
    }
    .img-barra{
        width: 2rem;
    }
    .articulo{
        flex-direction: column;
        margin: 1rem 0 0.1rem 0;
        box-shadow:none;
    }
    .articulo2{
        width: 95%;
    }
    .acompanante{
        width: 50%;
    }
}

